.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  /* padding-left: 100px; */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

.button {
  align-self: center;
}
